<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Blogs</h2>
                </div>
            </div>
        </div>
        {{#if blogData}}
            {{#blogHTML blogData}}
                {{{this}}}
            {{/blogHTML}}
        {{/if}}
    </div><!-- end container -->
</section>
