<section id="team" class="light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="team-item">
                    <h2>Accreditation</h2>
                    <div class="team-image">
                        <img src="https://res.cloudinary.com/tw-property-services/image/upload/q_auto,h_175/gas_safe.png"
                             class="img-cover p-r-10px" alt="author">
                        <img src="https://res.cloudinary.com/tw-property-services/image/upload/q_auto,h_175/niceic-logo.png"
                             class="img-cover" alt="author">
                    </div>
                    <div class="team-text">
                        <h3>Fully Insured</h3>
                        <p>All our tradespeople are fully insured and trained to the highest standard.<br /><br /><br /></p>
                    </div>
                </div>
            </div>

            <!-- team member item -->
            <div class="col-md-6">
                <div class="team-item">
                    <h2>Directors</h2>
                    <div class="team-image">
                        <img src="https://res.cloudinary.com/tw-property-services/image/upload/q_auto/rupert-150x150.jpg"
                             class="img-cover" alt="author">
                    </div>
                    <div class="team-text">
                        <h3>Rupert Woollacott</h3>
                        <p>Rupert had been refurbishing homes in and around south west London for 16 years before
                            setting up TW Property Services with Hamish. His knowledge of materials and technical
                            ability means he is invaluable on a build and is always on hand to offer advice and
                            expertise.</p>
                    </div>
                </div>
            </div>

            <!-- end team member item --><!-- team member item -->
            <!--<div class="col-md-3">-->
                <!--<div class="team-item">-->
                    <!--<div class="team-image">-->
                        <!--<img src="https://res.cloudinary.com/tw-property-services/image/upload/v1549985762/hamish-150x150.jpg"-->
                             <!--class="img-cover" alt="author">-->
                    <!--</div>-->
                    <!--<div class="team-text">-->
                        <!--<h3>Hamish Tavendale</h3>-->
                        <!--<p>Hamish started TW Property Services with Rupert after 12 years of running his own company-->
                            <!--specialising in timber floor design and installation. His attention to detail is second to-->
                            <!--none and his professional and friendly approach puts all clients at ease.</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!-- end team member item -->
        </div>
    </div>
</section>
