<div class="container-fluid">
    <div class="container">
        {{#if showTestimonials}}
            {{#testimonialList testimonialData}}
                {{{this}}}
            {{/testimonialList}}
        {{/if}}
    </div>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Contact Us</h2>
                        <p>If you have some questions or need help! Please contact us!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h3>Our Contact Details</h3>
                    <p><i class="fa fa-phone"></i> <a href="tel:+447970 19046">07970 190465</a></p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:enquiry@twpropertyservices.co.uk">enquiry@twpropertyservices.co.uk</a></p>
                </div>
                <div class="col-md-3">
                    <h3>Get In Touch</h3>
                    <p><img src="/images/insta.jpeg" alt="Instagram"> <a href="https://www.instagram.com/twpropertyservices/">TW on Insta</a></p>
                    <p><img src="/images/twitter.png" style="height: 25px" alt="Twitter"> <a href="https://twitter.com/twpropserv/">TW on Twitter</a></p>
                </div>

                <div class="col-md-6">
                    <form name="sentMessage" id="contactForm" novalidate="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" onblur="clearAlerts('footer')"
                                           id="footer_contact_name">
                                    <p class="text-danger hidden" id="footer_contact_name_error">Please enter your
                                        name.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Phone Number *" onblur="clearAlerts('footer')"
                                           id="footer_contact_number">
                                    <p class="text-danger hidden" id="footer_contact_number_error">Please enter your
                                        phone
                                        number.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Email *" onblur="clearAlerts('footer')"
                                           id="footer_contact_email">
                                    <p class="text-danger hidden" id="footer_contact_email_error">Please enter a valid
                                        email address.</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" onblur="clearAlerts('footer')"
                                              id="footer_contact_message"
                                              required=""
                                              data-validation-required-message="Please enter a message."></textarea>
                                    <p class="text-danger hidden" id="footer_contact_message_error">How can we help
                                        you?</p>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <button type="button"
                                        id="footerSendButton"
                                        onclick="contactUsEmail($('#footer_contact_name').val(),$('#footer_contact_email').val(),$('#footer_contact_number').val(),$('#footer_contact_message').val(),'footer')"
                                        class="btn">Send Message
                                </button>
                                <div class="text-center hidden alert alert-info" id="footerContactSendingMsg">
                                    Sending message....
                                </div>
                                <div class="text-center hidden alert alert-success" id="footerContactSuccessMsg">
                                    Your message was sent.
                                </div>
                                <div class="text-center hidden alert alert-error" id="footerContactErrorMsg">
                                    Your message was NOT sent. Please call us.
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <p id="back-top">
        <a href="#top"><i class="fa fa-angle-up"></i></a>
    </p>
    <footer>
        <div class="container text-center">
            <p>TW Property Services <a href="/about-us"><span>About Us</span></a></p>
        </div>
    </footer>
