<section id="portfolio">
    <div class="container">
        {{#if galleryData}}
            {{#galleryListHTML galleryListData}}
                {{{this}}}
            {{/galleryListHTML}}
        {{/if}}
    </div><!-- end container -->
</section>
