<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll img-responsive-logo" href="/"><img src="/images/logo.png" alt="TW Property Services"></a>
            <a class="navbar-brand page-scroll img-responsive-logo-mobile" href="/"><img src="/images/logo-mobile.png" alt="TW Property Services"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/our-services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="/projects">Projects</a>
                </li>
                <li>
                    <a class="page-scroll" href="/testimonials">Testimonials</a>
                </li>
                <li>
                    <a class="page-scroll" href="/galleries">Galleries</a>
                </li>
                <li>
                    <a class="page-scroll" href="/blogs">Blog</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
