<section id="projects" class="section-padding-zero">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Projects</h2>
                    <p>Our portfolio is the best way to show our work, you can see here a big range of our work. Check
                        them all and you will find what you are looking for.</p>
                </div>
            </div>
        </div>
        {{#if projectData}}
            {{#projectHTML projectData}}
                {{{this}}}
            {{/projectHTML}}
        {{/if}}
    </div><!-- end container -->
</section>
