<div class="container-fluid">

    <h1 class="corp-blue">Testimonials</h1>
    <hr/>
    <div class="row t-m-10">
        <div class="col-xs-12 col-sm-8 col-md-8 main-text corner-round-5">
            {{#testimonialList2 testimonialData}}
                {{{this}}}
            {{/testimonialList2}}
        </div>

        <div class="col-xs-12 col-md-4 col-sm-4 right-sidebar">
            {{>side-booking-form}}
            {{>side-discounts}}
            {{>side-ask-me-public}}
            {{#if specialOfferData}}
                {{>side-special-offers}}
            {{/if}}
        </div>
    </div>
</div>







