<div class="container-fluid">
    <h1 class="corp-blue">Contact Us</h1>
    <hr/>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <img src="/images/map.gif" class="img-responsive map-contact" alt="Responsive image">
        </div>
        <div class="col-md-6 col-xs-12">
            <img src="/images/exterior.jpg" class="img-responsive ext-contact" alt="Responsive image">
        </div>
    </div>


    <div class="row t-m-10 main-text corner-round-5 m-b-10">
        <div class="col-xs-12 col-sm-6 col-md-6 p-25">
            <h4>Directions from Barmouth <span class="fs11">(Approx 4 miles or 10 minutes drive)</span></h4>

            <p>Head north out of Barmouth Town along the coast road A496, through the village of LLanaber to the village
                of Talybont. Turn left at Ffordd Glan-Mor road towards Talybont beach and station. Continue over the
                railway
                bridge and Sarnfaen Holiday Park entrance is fourth on the right (150 yards).</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 p-25">

            <h4>Directions from Porthmadog <span class="fs11">(Approx 16 miles or 33 minutes drive)</span></h4>

            <p>
                From the A487, take the right turn across Briwet Bridge. Turn right at the T Junction onto the A496
                coast road
                through Harlech Town and Dyffryn Ardudwy village and proceed over the narrow Ysgethin River stone
                bridge.
                Take the next right turn towards Talybont beach and station. Continue over the railway bridge and
                Sarnfaen
                Holiday Park entrance is 4th on the right (150 yards).</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-3 col-md-6 p-25">
            <address class="grey-text">
                <h4>Address</h4>
                <strong>Sarnfaen Holiday Park</strong><br/>
                Tal-y-Bont, Nr. Barmouth<br/>
                Gwynedd, Wales, LL43 2AQ<br/><br/>
                <abbr title="Phone">Tel:</abbr> 01341 247241<br/>
            </address></div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-3 col-md-6 p-25">
            <h5 class="text-center b-p-25">Please get in touch via our contact form and a member of the team will get
                back to you.</h5>

            <form id="contact-form">
                <div class="form-group contact-us">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"
                                                              aria-hidden="true"></span></span>
                        <input type="text" placeholder="Name*" class="form-control" id="contact_name">
                    </div>
                </div>
                <div class="form-group contact-us">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"
                                                              aria-hidden="true"></span></span>
                        <input placeholder="Email*" type="email" class="form-control" id="contact_email"
                               aria-describedby="inputGroupSuccess4Status">
                    </div>
                </div>

                <div class="form-group contact-us">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"
                                                              aria-hidden="true"></span></span>
                        <input type="text" placeholder="Phone" class="form-control" id="contact_phone"
                               aria-describedby="inputGroupSuccess4Status">
                    </div>
                </div>
                <div class="form-group contact-us">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-comment"
                                                              aria-hidden="true"></span></span>
                        <textarea type="text" placeholder="Message" class="form-control" id="contact_message" rows="4"
                                  aria-describedby="inputGroupSuccess4Status"></textarea>
                    </div>
                </div>

                <button id="contact_sendButton" type="button"
                        onclick="contactUsEmail($('#contact_name').val(),$('#contact_email').val(),$('#contact_phone').val(),$('#contact_message').val())"
                        class="btn btn-default corp-light-green-button">Submit
                </button>
                <div id="contact_sendingMsg" style="display: none" class="alert alert-success t-m-10" role="alert">
                    Sending.....<img src="/images/ajax-loader.gif" class="pull-right"/></div>
                <div id="contact_successMsg" style="display: none" class="alert alert-success t-m-10" role="alert">Your email
                    has been sent.
                </div>
                <div id="contact_errorMsg" style="display: none" class="alert alert-danger t-m-10" role="alert">An error
                    occurred, your email has NOT been sent. Please make sure you have given us your name and that you
                    have entered a valid email address.
                </div>
            </form>
        </div>
    </div>

</div>
