<style>
    ul {
        list-style: none;
        font-size: medium;
        letter-spacing: 0.2px;
        color: #797979;
    }

    .navbar-default {
        background-color: #131111;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0;
    }

    .m-t-4em {
        margin-top: 4em
    }

    @media only screen
    and (orientation: portrait) {
        .navbar-default {
            padding: 0 0;
        }

        .m-t-4em {
            margin-top: 0em
        }
    }

    * {
        box-sizing: border-box;
    }


</style>
<section id="about" class="light-bg m-t-4em">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="show-mobile text-uppercase">{{{galleryData.title}}}</h2>
                {{#if galleryData}}
                    {{#galleryHTMLPopUp galleryData.media}}
                        {{{this}}}
                    {{/galleryHTMLPopUp}}
                {{/if}}
            </div>
            <div class="col-md-5">
                <div class="section-title">
                    <h2 class="hidden-mobile text-uppercase">{{{galleryData.title}}}</h2>
                    {{#replaceGTLT galleryData.body}}{{/replaceGTLT}}
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        {{#if galleryData}}
            {{#galleryHTMLPopUpModal galleryData.media}}
                {{{this}}}
            {{/galleryHTMLPopUpModal}}
        {{/if}}
    </div>
</section>


