{{#if galleryData}}
    {{#galleryHTML galleryData}}
        {{{this}}}
    {{/galleryHTML}}
{{/if}}
<style>
    ul {
        list-style: none;
        font-size: medium;
        letter-spacing: 0.2px;
        color: #797979;
    }
    div.section-title ul li:before {
        content: '✓ ';
    }
</style>
<section id="home" class="light-bg section-padding-zero">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    {{#replaceGTLT sipData.body}}{{/replaceGTLT}}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
{{>projects}}
{{>directors}}
