{{#if galleryData}}
    {{#galleryHTML galleryData}}
        {{{this}}}
    {{/galleryHTML}}
{{/if}}
<style>
    ul {
        list-style: none;
        font-size: medium;
        letter-spacing: 0.2px;
        color: #797979;
    }
</style>
{{#if showBody}}
<section id="sip" class="light-bg section-padding-zero">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>{{{sipData.title}}}</h2>
                    {{#replaceGTLT sipData.body}}{{/replaceGTLT}}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
{{/if}}
{{#unless showTestimonials}}
    {{#testimonialListUL testimonialData }}
        {{{this}}}
    {{/testimonialListUL}}
{{/unless}}
{{#if showProjects}}
    {{>projects}}
{{/if}}
{{#if showBlogs}}
    {{>blogs}}
{{/if}}
{{#if showDirectors}}
    {{>directors}}
{{/if}}
{{#if showGalleries}}
    {{>galleries}}
{{/if}}
