/*body{font-family: 'Raleway', sans-serif;font-weight: 700}*/
body{font-family: 'Helvetica Neue', sans-serif; font-weight: 500}

@media (min-width: 1200px) {
    .container-fluid {
        width: 970px;
    }
}

.corp-navbar {
    background-color: #58c7ff;
    border-color: #58c7ff;
}

ul.nav.navbar-nav li.active, li a {
    color: white
}

.navbar-toggle {
    border-color: white !important
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #4090b8;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #4090b8 !important
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #4090b8 !important;
    color: white
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white
}

/*Spacial settings*/
.r-m-0 {
    margin-right: 0px
}
.m-r-15px{
    margin-right: 15px
}
.r-m-10 {
    margin-right: 10px
}
.t-m-10{margin-top: 10px}

.mw-150 {max-width: 150px}

.b-m-150{margin-bottom: 150px}

.l-m-10{margin-left: 10px}

.m-t-10px{margin-top: 10px}

.w-50px{width:50px}
footer.navbar-default.navbar-fixed-bottom {
    background: #f1efef;
    color: white;
    padding: 1em 0;
}

footer.navbar-default.navbar-fixed-bottom p {
    margin: 0;
}

.white, .white a {
    color: #fff;
}

.haserror{border: 1px solid #a94442}

.outer { outline: 1px solid #eee; display: table; width: 100%; }
.outer > p {
    display: table-cell;
    height: 60px;
    vertical-align: middle;
    text-align: center;
}

.dropdown-menu {
    min-width: 200px;
}
.dropdown-menu.columns-2 {
    min-width: 400px;
}
.dropdown-menu.columns-3 {
    min-width: 600px;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
.multi-column-dropdown {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #999;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}



