body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    background-color: #daf5ff;
    /*background-image: url('../images/background-image.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 1200px) {
    .container-fluid {
        width: 970px;
        padding-left: 0px;
        padding-right: 0px
    }

    .m-l-80px {
        margin-left: 80px !important;
    }
}

.question-button {
    margin-top: 6px;
    margin-right: 28px;
    color: white;
    background-image: url(../images/question.png);
    background-repeat: no-repeat;
    background-position: 100% 30%;
    width: 160px;
    padding-right: 15px;
    background-size: 1.5em;
}

.corp-navbar {
    background-color: #58c7ff;
    border-color: #58c7ff;
    border-radius: 0px;
}

.navbar-centre {
    width: 90%;
    margin: 0 auto !important;
}

.text-red {
    color: red
}

.ext-contact {
    width: 91%;
    margin-top: 6px;
    border: 3px solid white;
}

.corp-navbar-grey {
    background-color: #7F8080;
    border-color: #7F8080;
    border-radius: 0px;
    margin: 0 auto;
}

.corp-blue {
    color: #58c7ff
}

.Pine {
    background-color: #f7b4a4;
    border-radius: 5px;
}
hr.PINE {
    border: solid #f7b4a4;
    border-width: 2px 0 0;
    clear: both;
    margin: 22px 0 21px;
}
.Pine-border {
    background-color: white;
    border-radius: 5px;
    border: 7px solid #f7b4a4;
}

.Hydrangea {
    background-color: #8fcfce;
    border-radius: 5px;
}
hr.HYDRANGEA {
    border: solid #8fcfce;
    border-width: 2px 0 0;
    clear: both;
    margin: 22px 0 21px;
}
.Hydrangea-border {
    background-color: white;
    border-radius: 5px;
    border: 7px solid #8fcfce;
}

.Palm {
    background-color: #fbba34;
    border-radius: 5px;
}
hr.PALM {
    border: solid #fbba34;
    border-width: 2px 0 0;
    clear: both;
    margin: 22px 0 21px;
}
.Palm-border {
    background-color: white;
    border-radius: 5px;
    border: 7px solid #fbba34;
}
.Lodge {
    background-color: #a3a6d4;
    border-radius: 5px;
}
hr.LODGE {
    border: solid #a3a6d4;
    border-width: 2px 0 0;
    clear: both;
    margin: 22px 0 21px;
}
.Lodge-border {
    background-color: white;
    border-radius: 5px;
    border: 7px solid #a3a6d4;
}

.acc-image {
    padding: 7px;
    border: 1px solid #d9d3dc;
    background-color: #ffffff;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
}

.double-border {
    border: 3px solid #58c7ff;
    border-style: double;
    border-radius: 5px;
}

.tiltright {
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.tiltleft {
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.bg-corp-blue {
    background-color: #58c7ff
}

.bg-corp-green {
    background-color: #017373
}

.bg-red {
    background-color: #ff0000
}

ul.nav.navbar-nav li.active, li a {
    color: white;
    font-size: 12px;
}

.navbar-toggle {
    border-color: #58c7ff !important;
    margin-right: 0px
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: white;
    font-size: 16px
}

ul li a:hover, .navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: #3db1ff;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .open > a:hover {
    background-color: #3db1ff !important;
    color: white
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #58c7ff
}

.no-border {
    border: 0px
}

/*Spacial settings*/
.r-m-0 {
    margin-right: 0px
}

.r-m-10 {
    margin-right: 10px
}

.t-m-10 {
    margin-top: 10px
}

.t-m-0 {
    margin-top: 0px
}

.b-m-0 {
    margin-top: 0px
}

.t-p-25 {
    padding-top: 25px
}

.mw-150 {
    max-width: 150px
}

.b-m-150 {
    margin-bottom: 150px
}

.b-m-20 {
    margin-bottom: 20px
}

.b-p-25 {
    padding-bottom: 25px
}

.p-25 {
    padding: 25px
}

.l-m-10 {
    margin-left: 10px
}

.l-m-15pc {
    margin-left: 15% !important
}

.m-t-7pc{margin-top :7%}

.p-10 {
    padding: 10px
}

.m-b-m10 {
    margin-bottom: -10px
}

.fs11 {
    font-size: 11px
}

footer.navbar-default.grey-footer {
    background: #7F8080;
    color: white;
    padding: 1em 0;
    padding-top: 0px
}

footer.navbar-default.navbar-fixed-bottom p {
    margin: 0;
}

.white, .white a {
    color: #fff;
}

.haserror {
    border: 1px solid #a94442
}

.corp-green-button {
    background-color: #017373;
    color: white;
    width: 80%;
}

.red-button {
    background-color: #910000;
    color: white;
    width: 80%;
}

.block-row-dark-green {
    background-color: #58c7ff;
    padding: 20px;
    color: white
}

.block-row-testimonials {
    background-color: #343250;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
    color: white;
    margin-bottom: 5px;
}

.height-auto {
    height: auto !important
}

.block-row-dark-grey {
    background-color: #7F8080;
    margin: 5px;
    padding: 20px;
    color: white;
    margin: 0;
}

.corp-dark-green-panel {
    background-color: #58c7ff;
    color: white;
    border-radius: 10px
}

.corp-darker-green-panel {
    background-color: #3F4D1E;
    color: white;
    border-radius: 10px
}

.corp-dark-grey-panel {
    background-color: #7F8080;
    color: white;
    border-radius: 10px
}

li {
    color: #58c7ff;
}

li span {
    color: white;
    font-size: 11px
}

div#testimonials.carousel.slide {
    min-height: 150px
}

.carousel-indicators {
    margin-bottom: 0px !important;
    bottom: 0px
}

.carousel-indicators .active {
    background-color: #58c7ff;
    margin: 0px 15px
}

.carousel-indicators li {
    background-color: #fff;
    margin: 0px 15px
}

.carousel-inner {
    height: 250px
}

div.item.active {
    color: #58c7ff
}

div.item {
    color: #58c7ff
}

.googleMapFrame {
    width: 100%;
    height: 450px;
    border: none
}

.contact-us .input-group-addon {
    color: white;
    background-color: #58c7ff
}

.row {
    margin-left: 0px;
    margin-right: 0px
}

.banner-text {
    font-family: 'Lato' !important;
    font-style: normal;
    font-weight: 100;
    font-size: 32px
}

.img-centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px
}

.h-min-120 {
    min-height: 120px;
}

.slider-text {
    position: absolute;
    color: white;
    top: 3em;
    margin-left: 27%;
    width: 75%;
}

.slider-button {
    position: absolute;
    color: white;
    top: 27.5em;
    margin-left: 87%;
    width: 95%;
    z-index: 10000;
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 24px;
    }

    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
        font-size: 12px;
        padding: 12px;
    }

    .header-text, .header-text a {
        font-size: 16px
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    .header-text, .header-text a {
        font-size: 18px !important;
        color: #58c7ff;
    }

}

.header-text {
    font-size: 18px
}

.top-cont {
    height: 50px
}

.navbar-brand > img {
    display: block;
    height: 40px;
    margin-top: -5px;
}

.fs-1em {
    font-size: 1em
}

div .main-text {
    /*text-align: justify;*/
}

.z-index-1000 {
    z-index: 1000
}

.m-h-2em {
    min-height: 2em
}

.m-l-18pc {
    margin-left: 18% !important;
}

.m-t-16pc {
    margin-top: 16%
}

.m-l-30px {
    margin-left: 30px
}

.m-t-20pc {
    margin-top: 20%
}

.h-5 {
    height: 5px
}
.h-5 {
    height: 2px
}

.p-20-0 {
    padding: 20px 0px
}

.w-100pc {
    width: 100%
}

.w-50pc {
    width: 50%
}

.w-100px {
    width: 100px
}

.bg-white {
    background-color: white
}

.corner-round-5 {
    border-radius: 10px
}

.h-6em {
    height: 6em
}

.t-align-center {
    text-align: center
}

#booking-engine {
    min-height: 18em;
}

.p-0 {
    padding: 0px
}

.p-t-10 {
    padding-top: 10px
}

.p-b-10 {
    padding-bottom: 10px
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-7px {
    margin-top: 7px
}

.w-160px {
    width: 160px
}

address {
    text-align: center;
    color: white
}

.spacer-white {
    background: url('/images/white-spacer.png') no-repeat center center;
    background-size: contain;
    background-position: center;
    padding: 25px 0px
}

.welcome-text {
    background: url('/images/welcome-background.png') no-repeat center center;
    background-size: cover;
    background-position: center;
    padding: 10px;
}

.footer-butterflies {
    background: url('/images/footer-butterflies.png') no-repeat right;
    background-position: 0px 3px;
    height: 280px;
}

.ownersarea-butterflies {
    background: url('/images/footer-butterflies.png') no-repeat right;
    height: 280px;
    background-color: white;
}

.main-text {
    background: url('/images/main-text-butterflies.png') no-repeat right;
    background-color: white;
    min-height: 650px;
}

#assoc-logo-container {
    height: 120px;
    width: 80%;
    padding: 10px;
    margin-top: 20%;
}

#assoc-logo {
    height: 90%;
    margin: auto;
    padding-top: 5px;
}

#spacer-holder {
    width: 120px;
    margin: auto;
}

.welcome-text {
    font-family: Georgia;
    font-size: 16px;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;

}

.main-text h1 {
    color: #58c7ff;
    font-family: Georgia;
    font-size: 26px;
}

.col:not(:first-child), .col:not(:last-child) {
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 7px;
    width: 32% !important;
}

.green-butterflies {
    background: url(/images/green-butterflies.png) no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    background-color: #017373;
    height: 100px;
    vertical-align: middle;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.grey-text {
    color: #555555;
}

.m-t-10px {
    margin-top: 10px
}

.m-t-15px {
    margin-top: 15px
}

.p-r-25px {
    padding-right: 25px
}

.p-r-10px {
    padding-right: 10px
}

.poundsign td:before {
    content: "£";
}

.poundsign td:first-child:before {
    content: "";
}
.right-sidebar{padding-right: 0px}
blockquote {
    padding: 10px 20px;
    margin: 15px 0 20px;
    font-size: 14.5px;
    border-left: 5px solid #eee;
}

/*Mobile css**/
@media only screen and (max-width: 700px) {
    body {
        background-color: white;
    }
    .carousel-inner {
        height: auto;
    }
    .corp-green-button {
        background-color: #017373;
        color: white;
        width: 100%;
        font-size: 11px;
    }
    .carousel-indicators {
        width: 100%;
        left: auto;
        margin-left: auto;
    }

    .ext-contact {
        width: 95%
    }

    .map-contact {
        margin-left: -14px
    }

    .poundsign td:first-child {
        max-width: 150px;
        word-wrap: normal;
    }

    .poundsign {
        font-size: 11px
    }

    .btn-sm {
        white-space: normal;
        margin-bottom: 5px;
    }

    .corp-navbar {
        background-color: white;
        height: 120px;
        padding-bottom: 120px;
    }

    .navbar-brand > img {
        display: block;
        height: 75px;
    }

    .navbar-nav {
        background-color: #58c7ff;
        position: relative;
        z-index: 1000;
        height: auto;
    }

    .welcome-text {
        font-family: Georgia;
        font-size: 16px;
        text-align: center;
        padding-top: 4em;
        margin-bottom: 10px;
    }

    .top-tel {
        margin-bottom: 5px;
        position: relative;
        bottom: 0px;
        position: absolute;
        top: 90px;
        right: 37%
    }

    .row-hack {
        margin: 1px 1px 0px -2px;
    }

    .footer-butterflies {
        display: none
    }
    .ownersarea-butterflies{
        background: url('') no-repeat right;
        height: 280px;
        background-color: white;
    }
    .white, .white a{
        font-size: 15px;
    }
    .col:not(:first-child), .col:not(:last-child) {
        padding-right: 7px;
        padding-left: 7px;
        margin-left: 7px;
         width: 100% !important;
        margin-bottom: 10px;
    }
}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    .navbar-centre {
        width: 100%;
        margin: 0 auto !important;
    }
    #assoc-logo-container {
        height: 120px;
         width: 100%;
        padding: 10px;
         margin-top: 10px;
    }

}

