body {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    height: 100%
}

@media (min-width: 1200px) {
    .container-fluid {
        width: 970px;
    }
}

.corp-navbar {
    background-color: #516227;
    border-color: #516227;
    border-radius: 0px;
}

.corp-navbar-grey {
    background-color: #7F8080;
    border-color: #7F8080;
    border-radius: 0px;
    margin: 0 auto;
}

.corp-dark-green {
    color: #516227
}

ul.nav.navbar-nav li.active, li a {
    color: white;
    font-size: 12px;
}

.navbar-toggle {
    border-color: white !important
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #90AD00;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #90AD00 !important
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #90AD00 !important;
    color: white
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white
}

.no-border {
    border: 0px
}

/*Spacial settings*/
.r-m-0 {
    margin-right: 0px
}

.r-m-10 {
    margin-right: 10px
}

.t-m-10 {
    margin-top: 10px
}

.t-m-0 {
    margin-top: 0px
}

.b-m-0 {
    margin-top: 0px
}

.t-p-25 {
    padding-top: 25px
}

.mw-150 {
    max-width: 150px
}

.b-m-150 {
    margin-bottom: 150px
}

.l-m-10 {
    margin-left: 10px
}

.l-m-15pc {
    margin-left: 15% !important
}

.p-10 {
    padding: 10px
}

.fs11{font-size:11px}

footer.navbar-default.grey-footer {
    background: #7F8080;
    color: white;
    padding: 1em 0;
    padding-top: 0px
}

footer.navbar-default.navbar-fixed-bottom p {
    margin: 0;
}

.white, .white a {
    color: #fff;
}

.haserror {
    border: 1px solid #a94442
}

.corp-light-green-button {
    background-color: #90AD00;
    color: white
}

.block-row-dark-green {
    background-color: #516227;
    padding: 20px;
    color: white
}

.block-row-testimonials {
    background-color: #e9ead4;
    margin: 5px;
    padding: 20px;
    color: white;
    margin: 0;
}

.corp-dark-green-panel {
    background-color: #516227;
    color: white;
    border-radius: 10px
}

.corp-darker-green-panel {
    background-color: #3F4D1E;
    color: white;
    border-radius: 10px
}
.corp-dark-grey-panel {
    background-color: #7F8080;
    color: white;
    border-radius: 10px
}

li
{
    color: #90AD00;
}

li span
{
    color: white;
    font-size: 11px
}

